.hidden {
  visibility: hidden;
}

body {
  background-color: rgb(0, 174, 255);
  font-family: sans-serif;
  margin: 0px;
}

button {
  background-color: blue;
  color: white;
  padding: 10px;
  border: none;
  margin: 0px;
  font-size: medium;
}

button.activated {
  background-color: red;
}

button.activated:hover {
  background-color: darkred;
  color: whitesmoke;
}

button:active {
  background-color: red;
  color: whitesmoke
}

button:active:hover {
  background-color: darkred;
  color: whitesmoke
}

button.activated:active:hover {
  background-color: red;
  color: whitesmoke
}

button:hover {
  background-color: orange;
  color: black;
}

button:disabled {
  background-color: grey;
}

button:disabled:hover {
  background-color: grey;
}

button:disabled:active {
  background-color: grey;
}

div {
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
  padding: 0px
}

div.message {
  top: 0px;
  box-shadow: 5px 5px 5px black;
  left: 10vw;
  right: 10vw;
  height: fit-content;
  max-height: 50vw;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 1;
  background-color: whitesmoke    ;
  color: red;
  text-align: center;
  transition: 0s;
  width: auto
}

div.message.hidden {
  transition: 0.5;
}

fieldset {
  width: fit-content;
}

div.text-input {
  font-family: monospace;
  font-size: x-large;
  text-align: center;
  color: red;
  padding: 10px;
  background-color: whitesmoke;
  display: inline-block
}

div.text-input.five {
  width: fit-content;
  min-width: 5ch;
}

div.text-input.sixteen {
  width: fit-content;
  min-width: 16ch;
}

div.text-input.valid {
  color: green
}

div#textInputDiv {
  width: auto;
}

span.result {
  font-family: monospace;
  font-size: x-large;
  text-align: center;
  color: red;
}

span.result.valid {
  color: black
}

tr {
  display: inline-block;
}